.content {
    padding: var(--content-padding);
    padding-top: var(--content-padding-top);
    padding-bottom: 4rem;
}

.showcase {
    display: flex;
    
}

@media screen and (max-width: 1700px) {
    .content {
        padding-bottom: 6rem;
    }
}