.content {
    padding: var(--content-padding);
    padding-top: var(--content-padding-top);
    padding-bottom: var(--content-padding-bottom);
}

@media screen and (max-width: 1700px) {
    .content {
        padding-bottom: 6rem;
    }
}