.content {
    padding-left: 23vw;
    padding-right: 23vw;
    padding-top: calc(var(--content-padding-top) - 3rem);
    padding-bottom: var(--content-padding-bottom);
}


@media screen and (max-width: 1300px) {
    .content {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}



@media screen and (max-width: 800px) {
    .content {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}


@media screen and (max-width: 600px) {
    .content {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}