.action, .read {
    transition: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;


    min-width: 5rem;
}

.action {
    color: white !important;

    background-color: var(--pop-color);
    outline: var(--pop-color) solid 1px;
}

.read {
    color: var(--pop-color) !important;
    outline: var(--pop-color) solid 1px;
}

.read:hover, .action:hover {
    cursor: pointer;
}

.action:hover {
    background-color: var(--hover-action-color);
}

.read:hover {
    background-color: var(--hover-read-color);
}

@media screen and (max-width: 600px)  {
    .action, .read {
        padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    }
}   


@media screen and (max-width: 400px)  {
    .action, .read {
        padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    }
}