.navbar {
    display: flex;
    position: sticky;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}