.solution {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100%;
    gap: 1rem;
}

.solution > div {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;

    flex: 1;
}

.solution > div > .image {
    flex: 1;

    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
}


.solution > div > div {
    display: flex;
    flex: 1;

    flex-direction: column;
}


.solutionsContent {
    display: flex;
    flex-direction: column;
}