
.footerwrap {
    background-color: #2411ff;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;

    width: 80%;
}

.logo {
    width: 100%;
    height: 100%;
    margin-right: 0.5rem;
}

.footerlogo {
    width: 18rem;
}

.footerright {
    padding: 2rem;
}

.footerleft {
    display: flex;
    flex-direction: row;
}


.footerlist {
    margin-right: 2rem;
}

.footerlisthead {
    font-size: 1.2rem;
    list-style-type: none;
    margin-bottom: 1.2rem;
    margin-left: -1rem;
}

.footerlistitem {
    font-size: rem;
    margin-bottom: 0.7rem;
    text-decoration: underline;
}

.footerlistitem:hover {
    cursor: pointer;
}

@media (max-width: 70rem) {
    .footerright {
        display: none;
    }
}


@media (max-width: 37rem) {
    .footerleft {
        flex-direction: column;
    }
}