html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ffffff;

    font-size: 16px;
    line-height: 1.1rem;
}   

body {
    overflow-y: scroll;
}

#app {
    max-height: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;

    font-family: Questrial;
    font-weight: regular;
    text-rendering: optimizeLegibility;
}


@media (max-width: 1315px) {
    html {
        font-size: 15.5px;
    }
}

@media (max-width: 1015px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 570px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 11px;
    }
}
